{% macro videos(article) %}

	{% if article.videos is not empty %}
	

	    {% for video in article.videos %}
	    <div style="margin-top:10px;margin-bottom:10px;">
	         <iframe class="uk-responsive-width" src="{{ video.path }}?autoplay=0&amp;loop=1&amp;controls=1&amp;showinfo=1&amp;start=0&amp;vq=hd1080&amp;enablejsapi=1&amp;api=1&amp;player_id=sw-1&amp;enablejsapi=1&amp;api=1" allowfullscreen="" height="1080" width="1920"></iframe>
	    </div>
	    {% endfor %}

	
	{% endif %}

{% endmacro %}