{% extends 'base/ru/base.html.twig' %} 
{% block title %}
Школа Сергия Радонежского при Фонде Толстого.
Страница не найдена.
{% endblock %} 
{% block description %}
Школа Сергия Радонежского при Фонде Толстого. 
Страница не найдена.
{% endblock %}
{% block body %}

<!-- page content -->
	<div class="admission">
	   <div class="container">
		   <h1>Страница не найдена</h1>
		   <p>Страница, которую вы пытаетесь открыть, не найдена на нашем сервере.<p>
		   <p>Пожалуйста, используйте меню для доступа к страницам сайта.</p>
	   </div>
	 </div>
<!-- page content -->

{% endblock %}