{# app/Resources/views/forms/period.html.twig #}
{% extends 'admin/view/base-admin.html.twig' %}
{% form_theme form 'OrnjMarkdownBundle:Form:fields.html.twig' %}
{% block pageTitle %}Article{% endblock %}
{% block title %}Article{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/css/bootstrap-markdown.min.css" type="text/css" media="all" />
	<script type="text/javascript" src="/js/bootbox.js"></script>
	<script type="text/javascript" src="/js/to-markdown.js"></script>
	<script type="text/javascript" src="/js/markdown.js"></script>
	<script type="text/javascript" src="/js/bootstrap-markdown.js"></script>

	
{% endblock %}

{% block body %}
<div style="margin-bottom:10px;">
   	<a class="btn btn-default" href="/admin/web/media/create" role="button">New Media URL</a>
   	<a class="btn btn-default" href="/admin/web/media/upload" role="button">Upload Media</a>
</div>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}